<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
</head>
<body>
    <div class="app_name">
        <h1>Spanish Learning App</h1>
    </div>
    <div class="container">
        <h1>{{ first_word }}</h1>
        <input type="text" id="userInput" placeholder="Type a word in Spansih">
        <h1>Feedback</h1>
    </div>
</body>
</html>